<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roux19.carcassonne">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/c_launcher"
        android:label="Carcassonne"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity android:name=".carcassonne.CarcassonneMainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

<!--
    NOTE: This should be below "android:icon" but it was giving us a weird
    error when we tried to put it there so it is now here.
    /** External Citation
         * Date: 27 April 2017
         * Problem: Wanted to add a custom app icon for a more pleasant
                    user experience.
         * Resource: http://stackoverflow.com/questions/26615889/
                     how-to-change-the-launcher-logo-of-an-app-in-android-
                     studio
         * Solution: Followed instructions for using the "Image Asset"
                     option under the "New" menu.
         */
-->